<div class="container">
  <div class="content"><br>
    <h5>Latest Club News</h5>
    <h6>June 1st, 2019</h6>
    <p>Click <a href="https://comp.entryeeze.com/Membership/Welcome.aspx?cid=87" target="_blank">here</a> to join or renew your membership at Kingsgate Skating Club.
    </p>
    <hr>
  </div>
</div>
