

<div class="container">
  <div class="content"><br>
    <h5>Newsletters</h5>
    <ul style="list-style-type:square">
      <li id="m1">
        <a href="https://drive.google.com/file/d/1PL4BvH9x7e6OrbvlU6nmGhbHlRyrxq7r/view?usp=sharing" target="_blank" rel="noopener noreferrer">2019 September</a></strong><br />
        </li>
        <li id="m1">
        <a href="https://drive.google.com/file/d/1nM7k4A_mYdCUdGYr6hvd7ZXItUTYrCI1/view?usp=sharing" target="_blank" rel="noopener noreferrer">2019 October</a></strong><br />
        </li>
      <li id="m1">
      <a href="https://drive.google.com/file/d/1h-nFMRazVGtnmgR-E7m2cw5GMqQgWEOO/view?usp=sharing" target="_blank" rel="noopener noreferrer">2019 July</a></strong><br />
      </li>
      <li id="m1">
      <a href="https://drive.google.com/file/d/1JCfr1gYl6n85KoKghHV1iWZ28SqWn4BB/view?usp=sharing" target="_blank" rel="noopener noreferrer">2019 June</a></strong><br />
      </li>
    </ul>
    <hr>
  </div>
</div>