<div class="container">
  <div class="content"><br>
    <h5>Contact Us</h5><hr> 
    <p><strong>Kingsgate Skating Club</strong></p>
    <p>kingsgateskatingclub@gmail.com</p>
    <hr> 
    <p><strong>Sno-King Ice Arena</strong></p>
    <p>14326 124th Ave NE, Kirkland, WA 98034</p>
    <hr>
  </div>
</div>