

<div class="container">
  <div class="content"><br>
    <h5>Member Documents</h5><hr>
    <ul style="list-style-type:square">
      <li id="m1">
      <a href="KSC_codes _of_conduct.pdf" target="_blank" rel="noopener noreferrer">Rink & Club Codes of Conduct</a></strong> (PDF)<br />
      </li>
      <li id="m1">
      <a href="KSC_test_permission.pdf" target="_blank" rel="noopener noreferrer">Test Permission Form</a></strong> (PDF)<br />
      </li>
    </ul>
    <hr>
  </div>
</div>