<style>
.googleCalendar{
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: 100%;
  border: none;
}

.googleCalendar iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border:none;
}

</style>

<div class="container">
  <div class="content"><br>
    <h5>Club Calendar</h5><hr>
    <div class="googleCalendar">
      <iframe src="https://calendar.google.com/calendar/embed?src=kingsgateskatingclub%40gmail.com&ctz=America/Los_Angeles">
      </iframe>
    </div>
  </div>
</div>